{% extends "base.html" %}
{% block head %}
{{ super() }}
<style type="text/css">
  </style>
{% endblock %}
{% block content %}
        <div class="index_page">
            <h1>Вітаю</h1>
            <h2>Це гра під назвою "Морський бій".</h2>
            <h3>Нагадаю правила:</h3>
            <p>на полі в 10х10 квадратів розміщуються ваші кораблі та кораблі супротивника. Після цього, по черзі,
                робляться ходи-постріли, координатами ігрового поля у вигляді буквеного стовпця і числового ряду,
                наприклад "А1".
                У разі промаху хід переходить до суперника, у разі попадання – дається ще один постріл. Гра триває доти,
                доки в
                одного із суперників не будуть уражені всі кораблі.</p>
        </div>

    <div class="index_btn_group">

        <form action="/new" method="post">
            <button class="index_btn" name="btn_new" value="new">Почати нову гру</button>
        </form>

        <form action="/continue" method="post">
            <button class="index_btn" name="btn_continue" value="continue">Продовжити останню гру</button>
        </form>
    </div>
{% endblock %}