{% extends "base.html" %}
{% block head %}
{{ super() }}
<style type="text/css">
  </style>
{% endblock %}
{% block content %}
        <div class="new_gam_start">
            <h1>Вітаю</h1>

        </div>
<form action="/new/generate" method="post">
    <div class="player_btn_group">

            {% for k in rez_pl %}
            <button class="{{ k.field_class}}" name="player_btn" value="{{ k.vert_index }}-{{ k.horiz_index }}"></button>

        {% endfor %}
    </div>


 </form>
{% endblock %}